<div ng-controller='apidetail' ng-init="init()" style="margin-top:30px;">
  <div class="row-fluid" style="margin-top:5px">
    <div class="span12 alert-error panel-error small" ng-show="error">
       <a class="close" ng-click="error=false">&times;</a>
       <span><i class="icon-exclamation-sign"></i> <strong>Oops!</strong> {{error}} </span>
    </div>
  </div>
	
	<div class="editor-row">
		<div class="section">
			<div class="editor-option">
				<label class="small">Filter</label>
				<select ng-model="filters.f1" class='input-small' ng-options="f for f in panel.filters.f1" 
				        ng-change="filter_changed('service', filters.f1)"></select>
						
				<select ng-model="filters.f2" class='input-small' ng-options="f for f in panel.filters.f2" 
				        ng-change="filter_changed('hostname', filters.f2)"></select>
						
	            <span ng-show="panelMeta.loading == true">
	              <i class="icon-spinner icon-spin icon-large"></i>
	            </span>
			</div>
			
			<div class="editor-option">
				<label class="small">Interval</label>
				<select ng-model="filters.f3" class='input-small' ng-options="f for f in panel.filters.f3" 
				        ng-change="filter_changed('interval', filters.f3)"></select>
			</div>
			
			<div class="editor-option">
				<label class="small">Term</label>
				<select ng-model="filters.f4" class='input-small' ng-options="f for f in panel.filters.f4"
				        ng-change="filter_changed('time', filters.f4)"></select>
			</div>
			
			<div ng-include="'app/panels/apidetail/timepicker.html'" ng-show="filters.f4 == 'Custom'"></div>
		</div>
	</div>
	
    <div ng-model="editor.index" bs-tabs style="text-transform:capitalize;">
      <div ng-repeat="tab in panel.tabs" data-title="{{tab}}">
      </div>
    </div>

    <div ng-if="editor.index == 0">
		<div ng-include="'app/panels/apidetail/editor0.html'"></div>
    </div>
	
    <div ng-if="editor.index == 1">
		<div ng-include="'app/panels/apidetail/editor1.html'"></div>
    </div>
	
    <div ng-if="editor.index == 2">
		<div ng-include="'app/panels/apidetail/editor2.html'"></div>
    </div>
	
    <!-- <div ng-if="editor.index == 3">
		<div ng-include="'app/panels/apidetail/editor3.html'"></div>
    </div> -->
</div>