<div ng-controller='stable' ng-init='init()'>
  <style>
    .table-doc-table {
      margin-left: 0px !important;
    }
    .table-sidebar {
      width: 200px;
      display: table-cell;
      padding-right: 10px;
    }
    .table-main {
      width: 100%;
      display: table-cell;
    }
    .table-container {
      display: table;
      height: 100px;
      width: 100%;
      table-layout: fixed;
    }
    .table-fieldname {
      white-space: nowrap;
    }

    .table-fieldname a {
      word-wrap:break-word;
      white-space: normal;
    }

    .table-details {
      table-layout: fixed;
    }

    .table-details-field {
      width: 200px;
    }

    .table-details-action {
      width: 60px;
      text-align: center;
    }

    .table-details-value {
    }

    .table-field-value {
      white-space: pre-wrap;
    }

    .table-facet {
      padding: 10px;
      border: 1px solid #666;
    }
    .highlight-check {
      
    }
  </style>
	<div ng-show="data.length<=0" class="table-container" style="margin-top:10px;">
	  <span>Oops! Your Keyword did not match any logs.</span>
	</div>

    <div ng-class="{'table-main':panel.field_list}" class="table-doc-table" ng-show="data.length>0">

        <div class="table-facet" ng-if="modalField">
          <h4>
            <button class="btn btn-mini btn-danger" ng-click="closeFacet();">close</button>
            {{adhocOpts.title}}
            <span class="pointer ng-scope ng-pristine ng-valid ui-draggable" bs-tooltip="'Drag to add to dashboard'"
              data-drag="true"
              data-jqyoui-options="kbnJqUiDraggableOptions"
              jqyoui-draggable="{animate:false,mutate:false,onStart:'panelMoveStart',onStop:'panelMoveStop',embedded:true}"
              ng-model="adhocOpts"
              data-original-title=""
              title=""
              aria-disabled="false" style="position: relative;"><i class="icon-move"></i></span>
          </h4>
          <kibana-simple-panel type="'{{facetType}}'" panel='{{facetPanel}}' ng-cloak></kibana-simple-panel>
        </div>

        <i class="pull-left icon-chevron-sign-right pointer" ng-click="panel.field_list = !panel.field_list" bs-tooltip="'Show field list'" ng-show="!panel.field_list"></i>     	

		<div class="row-fluid" ng-show="panel.paging">
          <div class="span1 offset3" style="text-align:right">
            <i ng-click="first_page()" ng-show="pagination>1" class='icon-circle-arrow-left pointer icon-large'></i>
            <i ng-click="pre_page(panel.offset, pagination)" ng-show="pagination>1" class='icon-arrow-left pointer icon-large'></i>
          </div>
          <div class="span4" style="text-align:center">
            <strong>{{pagination}}</strong> 
          </div>
          <div class="span1" style="text-align:left">
            <i ng-click="next_page(panel.offset, pagination)" ng-show="data.length >= panel.offset+panel.size" class='icon-arrow-right pointer icon-large'></i>
          </div>
        </div>
        
        <div style="float:right; margin-left:15px;">
          <label>총 검색 결과 : {{hits}}&nbsp;&nbsp;&nbsp;&nbsp;
    	  <select class="input-small" ng-model="pagesize_select" ng-options="f for f in pagesize" ng-change="change_pagesize()" style="background-color:#eee;"></select>
    	  </label>
 		</div>
        
        <table class="table" ng-style="panel.style" style="border-top:2px solid #eee;">
          <thead ng-show="panel.header"> </thead>
          <tbody style='word-break:break-all' bindonce ng-class-odd="'odd'">
            <tr my-repeat-directive ng-repeat="event in data| slice:panel.offset:panel.offset+panel.size">
              <!-- td style="vertical-align:middle; width:5%">
                <label style="cursor:text; font-size:10pt; margin-bottom:0px;">
                  {{($index+1)}}
                </label>
              </td -->
            
              <td ng-if="panel.fields.length<1" style="border-top:2px solid #eee;">
                <label style="cursor:text; font-size:10pt; margin-bottom:0px;" class="highlight-check">
                  <span ng-bind="origin_msg(event.kibana._source)"></span>
                </label>
                <label style="cursor:text; font-size:8pt; margin-bottom:0px;">
                  <span style="color:#969696;" ng-bind="origin(event.kibana._source)"></span>
                </label>
              </td>
              <td ng-show="panel.fields.length>0" ng-repeat="field in panel.fields">
                <span ng-if="!panel.localTime || panel.timeField != field" bo-html="(event.kibana.highlight[field]||event.kibana._source[field]) |tableHighlight | tableTruncate:panel.trimFactor:panel.fields.length" class="table-field-value"></span>
                <span ng-if="panel.localTime && panel.timeField == field" bo-html="event.sort[1]|tableLocalTime:event" class="table-field-value"></span>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="row-fluid" ng-show="panel.paging">
          <div class="span1 offset3" style="text-align:right">
            <i ng-click="first_page()" ng-show="pagination>1" class='icon-circle-arrow-left pointer icon-large'></i>
            <i ng-click="pre_page(panel.offset, pagination)" ng-show="pagination>1" class='icon-arrow-left pointer icon-large'></i>
          </div>
          <div class="span4" style="text-align:center">
            <strong>{{pagination}}</strong> 
          </div>
          <div class="span1" style="text-align:left">
            <i ng-click="next_page(panel.offset, pagination)" ng-show="data.length >= panel.offset+panel.size" class='icon-arrow-right pointer icon-large'></i>
          </div>
        </div>
      </div>
</div>