<div ng-controller="settingsCtrl" ng-init="init(this)">
    <div class="row-fluid" style="margin-top:5px">
      <div class="span12 alert-error panel-error small" ng-show="error">
         <a class="close" ng-click="error=false">&times;</a>
         <span><i class="icon-exclamation-sign"></i> <strong>Oops!</strong> {{error}} </span>
      </div>
    </div>
	<div ng-if="!loginChecked">
		<div ng-include src="'app/partials/settings_login.html'"></div>
	</div>
	
	<div ng-if="loginChecked">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
		  <h3>Settings
		    <span style="font-size:20px" ng-show="loading==true">
		      <i class="icon-spinner icon-spin icon-small"></i>
		    </span>
		  </h3> 
		</div>
		
		<div class="modal-body" style="width:95%;">
		  <div ng-repeat="panel in panels">
			  <div class="editor-option">
			    <label class="large" style="margin-bottom:10px;">● {{panel.title}}</label>
			  </div> 
			 
			  <div ng-include src="'app/partials/settings_submodule.html'"> </div>
		  </div>
		</div>
	</div>
</div>
