<div class="editor-row"> 
    <div  ng-repeat="row in panel.rows"
          class="grafana-target"
          ng-class="{'grafana-target-hidden': target.hide}">   
      <div class="grafana-target-inner-wrapper">
        <div class="grafana-target-inner">
      		
          <ul class="grafana-target-controls">
            <li> 
              <a class="link" ng-click="toggle(row)" ng-show="!row.edit"><i class="link icon-pencil"></i>수정</a>
            </li>
            <li>
              <a ng-click="remove(panel, row)"><i class="link icon-remove"></i></a>
            </li>
          </ul>
      		
          <ul class="grafana-segment-list" style="margin-left:0px; margin-right:0px;">
            <li class="span7" style="margin-top:5px; margin-bottom:5px;">
              {{row.name}}  
 			</li>    
 			<li>
              <div ng-show="row.edit" style="margin-top:15px">
        	    <ul style="list-style:none;">
				  <li>
                    Title
                  </li>
                  <li>  
                    <input type="text" 
      		     		   class="span8"
      		     		   ng-model="row.name"
      		     		   placeholder="example">
                  </li>
                  <li>
                    EPL
                  </li>   
                  <li>
                    <textarea class="settings-textarea-style"
      		    	      	  ng-model="row.epl" 
      		     		      placeholder="select ...">
                    </textarea>
                  </li>
                  <li>
                    Mail
                  </li>  
                  <li>
                    <textarea class="settings-textarea-style" 
                    		  style="height:49px;"
      		     		      ng-model="row.mail"
      		     		      placeholder="user1@mail, user2@mail">
                    </textarea>
                  </li>
                  <li>
                    Description
                  </li>  
                  <li>
                    <textarea class="settings-textarea-style" 
      		    		      ng-model="row.desc">
                    </textarea>
                  </li>
                  <li style="margin-bottom:20px">
                    <button class="btn btn-info" ng-click="apply(panel, row)">적용</button>
                    <button class="btn btn-danger" ng-click="cancel(panel, row)">취소</button>
                  </li>
                </ul>
              </div>
            <li>
          </ul>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>

    <div style="margin-top:39px; margin-bottom:30px;" align="right">
      <button class="btn btn-success" ng-click="add_setting(panel)">{{panel.title}}설정 추가</button>
    </div>
  </div>