<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h3>Settings Login</h3> 
</div>

<div class="modal-body" style="width:50%; margin-top:150px; margin-bottom:150px; margin-left:200px;">
  <div style="float:left;">
		    <table>
	      <tbody>
        <tr align="center">
          <td style="margin-right:20px;"><lable class="small">ID</lable></td>
          <td><input type="text" 
          			 class="input-large" 
          			 style="margin-left:20px;" 
          			 ng-model="auth_username" 
          			 maxlength="15" 
          			 ng-enter="login(auth_username, auth_password)"></td>
        </tr>
        <tr>
          <td ><label class="small">Password</label></td>
          <td><input type="password" 
          			 class="input-large" 
          			 style="margin-left:20px;" 
          			 ng-model="auth_password" 
          			 maxlength="15" 
          			 ng-enter="login(auth_username, auth_password)"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div align="center" style="float:right; margin-top:20px">
    <button type="button" class="btn btn-success" ng-click="login(auth_username, auth_password)">login</button>
  </div>
</div>
